@import './base.css';
@import "./tailwind.css";

@font-face {
    font-family: Raleway;
    src: url(/src/assets/font/Raleway/Raleway-VariableFont_wght.ttf);
  }

body {
    font-family: 'Raleway','Nunito', sans-serif;
    background-color: transparent;
}
